name: Secure CI/CD Pipeline (CodeQL + Trivy)

on:
  push:
    branches: ["main"]

jobs:
  security-and-build:
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      actions: read
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/devops-cicd-app:latest .

      - name: Scan image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKER_USERNAME }}/devops-cicd-app:latest
          severity: CRITICAL,HIGH
          exit-code: "0"
      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/devops-cicd-app:latest
